* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  counter-reset: #333;
}

header {
  margin: 0 auto;
}

header div:nth-child(1) {
  background-color: blue;
}

header ul {
  display: flex;
}