@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  counter-reset: #333;
}

header {
  margin: 0 auto;
  height: 300px;
}

header > div:nth-child(1) {
  height: 60px;
  display: flex;
  justify-content: center;
}

header > div:nth-child(1) > div {
  width: 50%;
}

header > div:nth-child(1) > div:nth-child(1) {
  background-color: #ffddf8;
  text-align: right;
}

header > div:nth-child(1) > div:nth-child(2) {
  background-color: #5868d7;
}

header ul {
  display: flex;
  justify-content: flex-end;
}

.bar {
  display: flex;
  justify-content: center;
}

.bar > div {
  margin: 100px 20px;
}

.search {
  height: 35px;
  width: 500px;
  border: 3px solid skyblue;
  border-radius: 50px;
  overflow: hidden;
}

input {
  font-size: 16px;
  width: 430px;
  padding: 10px;
  border: 0;
  outline: none;
}

.searchbtn {
  width: 50px;
  height: 100%;
  border: 0;
  background-color: skyblue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  float: right;
}

footer {
  border: 10px double skyblue;
  background-color: white;
  height: 200px;
}

.snsbox {
  margin-left: 0;
}

footer div {
  background-color: skyblue;
  height: 200px;
}

.snsbox {
  margin-right: 0;
}

#warp {
  margin: 0 auto;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#slider {
  height: 700px;
  background-color: aqua;
  margin: 0 auto;
}

.sliderlist {
  display: flex;
  justify-content: center;
}

.sliderlist li {
  padding: 2%;
  background-color: green;
}

.sliderflugin {
  height: 500px;
  background-color: red;
}

.sectiontwo {
  margin: 0 auto;
  width: 1000px;
  height: 200px;
  background-color: gold;
}

#booklist {
  width: 1100px;
  margin: 3% auto;
}

#booklist ul {
  height: 30%;
  background-color: white;
  display: flex;
}

#booklist li {
  width: 25%;
  height: 25px;
  text-align: center;
  cursor: pointer;
  padding-top: 7px;
  border-top: 1px solid #787878;
}

#booklist li:first-of-type {
  border-left: 1px solid #787878;
}

#booklist li:last-of-type {
  border-right: 1px solid #787878;
}

/*탭 선택시 나오는부분*/
#booklist li.active {
  background-color: skyblue;
  color: #fff;
  border-left: 1px solid skyblue;
  border-right: 1px solid skyblue;
}

.tab_list:not(:first-of-type) {
  display: none;
}

.tab_list {
  width: 1100px;
  height: 800px;
  background-color: skyblue;
}

.box {
  width: 200px;
  height: 320px;
  float: left;
  text-align: center;
  margin: 20px;
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 4px 4px 4px #eee;
}

.box p {
  font-size: 11px;
  color: #666;
  text-align: left;
}