@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h6, h4, p {
  font-family: "Noto Sans KR", sans-serif;
}

header {
  margin: 0 auto;
  height: 360px;
}

header a {
  color: black;
}

.headermargin {
  width: 1100px;
  margin: 0 auto;
}

.headerflex {
  display: flex;
  justify-content: center;
}

.pinkbar {
  width: 50%;
  background-color: #ffddf8;
  text-align: right;
}

.bluebar {
  width: 50%;
  background-color: #5868d7;
}

header ul {
  display: flex;
  justify-content: flex-end;
  width: 1100px;
}

header ul li {
  margin: 1% 1%;
}

.bar {
  width: 1100px;
  display: flex;
  justify-content: center;
}

.searchbtn:hover {
  cursor: pointer;
}

.search {
  height: 35px;
  width: 500px;
  border: 3px solid rgb(142, 197, 142);
  border-radius: 50px;
  overflow: hidden;
  margin-top: 5%;
}

input {
  font-size: 16px;
  width: 430px;
  padding: 10px;
  border: 0;
  outline: none;
}

.searchbtn {
  width: 50px;
  height: 100%;
  border: 0;
  background-color: rgb(142, 197, 142);
  color: white;
  font-size: 16px;
  font-weight: bold;
  float: right;
}

.banner:not(:first-of-type) {
  display: none;
}

.logomenu div {
  text-align: center;
}

.logomenu button {
  background-color: white;
  border: 1px solid lightgrey;
  width: 10%;
}

#slider {
  height: 400px;
  margin: 0 auto;
}

.sliderlist {
  display: flex;
  width: 1100px;
  margin: 5% auto;
}

.sliderlist li {
  box-sizing: content-box;
  border: 10px double rgb(142, 197, 142);
  width: 100%;
  text-align: center;
  margin: 0 2px;
}

.sliderlist li:hover {
  cursor: pointer;
}

.sliderlist p {
  background-color: rgb(142, 197, 142);
  font-weight: bold;
}

.sliderflugin {
  height: 500px;
}

.sliderbox p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  transform: scaleY(0.3);
  opacity: 0;
  transition: all 0.3s;
}

.sliderbox p {
  color: white;
  font-family: sans-serif;
  position: relative;
}
.sliderbox p a {
  position: relative;
  z-index: 2;
  color: white;
}

.sliderbox p:hover {
  color: #fff;
}

.sliderbox p:hover::before {
  opacity: 1;
  background-color: #DB5165;
  transform: scaleY(1);
  z-index: 1;
  transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
}

footer {
  margin: 0 auto;
  background-color: white;
  height: 300px;
  margin-top: 10%;
}

.footerflex {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 1100px;
  margin: 0 auto;
}

.footerimgbox {
  margin: 0 2%;
}

.footerul {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  background-color: rgb(194, 236, 194);
  color: black;
  font-size: 15px;
}

.footerul li {
  padding: 1.5%;
}

.snsbox img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.snsbox {
  text-align: center;
  margin: 1%;
}

.btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  transform: scaleY(0.3);
  opacity: 0;
  transition: all 0.3s;
}

.btn2 {
  padding: 10px;
  margin: 10px 4px;
  color: #333;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  border: 1px solid lightgray;
}
.btn2 span {
  position: relative;
  z-index: 2;
}

.btn2:hover {
  color: #fff;
}

.btn2:hover::before {
  opacity: 1;
  background-color: #DB5165;
  transform: scaleY(1);
  transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
}

/*----------------section1----------------*/
.section1 {
  width: 1000px;
  height: 550px;
  margin: 0 auto;
}

.FlexInfor {
  display: flex;
  margin-top: 2%;
  justify-content: space-around;
}

.FlexInfor > div:nth-of-type(1) {
  width: 25%;
  height: 300px;
  text-align: center;
}
.FlexInfor > div:nth-of-type(1) div {
  border: 1px solid lightgray;
  margin: 0 auto 10px;
  width: 75%;
  padding: 5%;
  color: #787878;
}
.FlexInfor > div:nth-of-type(1) img {
  border: 1px solid lightgray;
  margin: 0 auto;
  width: 100%;
}
.FlexInfor > div:nth-of-type(1) a {
  color: #787878;
}

.FlexInfor > div:nth-of-type(2) {
  width: 45%;
  height: 500px;
}

.bookinfo .title {
  margin-bottom: 5%;
}

table tr:nth-of-type(5) td {
  border: 1px solid lightgray;
}

.bookinfo div:nth-of-type(1) {
  border: 1px solid lightgray;
  width: 10%;
  color: #787878;
}

.isbnbox {
  margin-bottom: 5%;
}

th, td, .Group, .bookinfo div:nth-of-type(3) {
  color: #787878;
}

.section1 tr {
  display: flex;
  align-items: center;
}
.section1 tr th {
  text-align: left;
  width: 100px;
}
.section1 tr th, .section1 tr td {
  margin: 5% 10px 3% 0px;
}
.section1 tr .RedSale {
  color: red;
  font-weight: bold;
  font-size: 20px;
  vertical-align: auto;
}
.section1 tr .RedFont {
  color: red;
}

.BoldGray {
  font-weight: bold;
  color: #787878;
}

.RedBTN {
  background-color: rgb(238, 106, 106);
  padding: 2%;
}

.tableLASTBOX {
  margin-top: 15%;
}

.FlexInfor > div:nth-of-type(3) {
  width: 23%;
  height: 400px;
}
.FlexInfor > div:nth-of-type(3) input {
  border: #787878;
  width: 50%;
  text-align: right;
}

.cartbox {
  background-color: rgb(245, 241, 241);
}
.cartbox hr {
  width: 80%;
  margin: 0 auto;
}

.cartbox div {
  width: 75%;
  height: 10%;
  margin: 10% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartbox div:nth-of-type(2) {
  background-color: rgb(238, 106, 106);
}

.cartbox div:nth-of-type(3) {
  background-color: rgb(142, 197, 142);
}

.cartbox div:nth-of-type(4) {
  background-color: lightgray;
}

.cartbox div:nth-of-type(5) {
  background-color: white;
  border: 1PX solid lightgrey;
}

/*----------------section2----------------*/
.section2 {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}
.section2 table {
  width: 100%;
  border-collapse: collapse;
}
.section2 table, .section2 th, .section2 td {
  border: 1.5px solid gray;
  padding: 10px;
}
.section2 tr {
  font-size: 12px;
}
.section2 th {
  width: 10%;
}
.section2 td {
  width: 90%;
}
.section2 li {
  width: 100%;
}
.section2 .sld {
  display: flex;
}
.section2 h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.section3 {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: auto;
  align-items: flex-start;
}

.information {
  width: 100%;
}

.information .tab {
  text-align: center;
  list-style: none;
}

.information .tab li {
  width: 18%;
  height: 30px;
  display: inline-block;
  border: 1px solid #787878;
  margin: 50px auto 20px;
}

.information p {
  margin-top: 50px;
}

.active {
  background-color: rgb(142, 197, 142);
}

/* 도서정보 */
#product, #review, #publisher, #authors {
  height: auto;
}
#product .productText, #product .reviewText, #product .publisherText,
#product .authorsText, #review .productText, #review .reviewText, #review .publisherText,
#review .authorsText, #publisher .productText, #publisher .reviewText, #publisher .publisherText,
#publisher .authorsText, #authors .productText, #authors .reviewText, #authors .publisherText,
#authors .authorsText {
  padding: 0 30px;
}
#product .productText h3, #product .reviewText h3, #product .publisherText h3,
#product .authorsText h3, #review .productText h3, #review .reviewText h3, #review .publisherText h3,
#review .authorsText h3, #publisher .productText h3, #publisher .reviewText h3, #publisher .publisherText h3,
#publisher .authorsText h3, #authors .productText h3, #authors .reviewText h3, #authors .publisherText h3,
#authors .authorsText h3 {
  text-align: center;
}
#product .productText p, #product .reviewText p, #product .publisherText p,
#product .authorsText p, #review .productText p, #review .reviewText p, #review .publisherText p,
#review .authorsText p, #publisher .productText p, #publisher .reviewText p, #publisher .publisherText p,
#publisher .authorsText p, #authors .productText p, #authors .reviewText p, #authors .publisherText p,
#authors .authorsText p {
  text-align: justify;
}

/* 목차및 본문 */
#review {
  height: auto;
}

/* 출판사 서평 */
#publisher {
  height: auto;
}

/* 저자 및 역자정보 */
#authors {
  height: auto;
}

/* 교환 및 환불 */
#refund {
  height: auto;
}

#refundtext {
  padding: 25px;
}

#refundtext table {
  border: 1px solid #787878;
  width: 100%;
  border-collapse: collapse;
}
#refundtext table table, #refundtext table th, #refundtext table td {
  border: 1.5px solid gray;
  padding: 20px;
}
#refundtext table th {
  width: 20%;
}
#refundtext table ul, #refundtext table li {
  list-style: disc;
}

/*사이드 메뉴*/
.popmenu {
  width: 250px;
  position: sticky;
  top: 30px;
  margin-top: 5%;
}

.popmenu img {
  width: 50%;
  margin-bottom: 10%;
}

.popmenuIMG {
  display: flex;
}

.h5h6flex {
  margin-left: 10%;
}
.h5h6flex h6 {
  color: #787878;
  padding: 5%;
}
.h5h6flex h5 {
  font-weight: 100;
}