// ν—¤λ” //
header{margin: 0 auto; height: 300px;}

header>div:nth-child(1){height: 60px; display: flex; justify-content: center;}
header>div:nth-child(1)>div{width: 50%;}
header>div:nth-child(1)>div:nth-child(1){background-color: #ffddf8; text-align: right;}
header>div:nth-child(1)>div:nth-child(2){background-color: #5868d7; }
header ul{display: flex; justify-content: flex-end;
font-weight: bold;}
header ul li{margin: 1% 1%;}

.bar{display: flex; justify-content: center;}

.searchbtn:hover{cursor: pointer;}
.search{height: 35px;
        width: 500px;
        border: 3px solid skyblue;
        border-radius: 50px;
        overflow: hidden;
        margin-top: 5%;
}
input{
    font-size: 16px;
    width: 430px;
    padding: 10px;
    border: 0;
    outline: none;
}

.searchbtn{
    width: 50px;
    height: 100%;
    border: 0;
    background-color: skyblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    float: right;
}


.banner:not(:first-of-type) {display: none;}
.logomenu div{text-align: center;}



//ν‘Έν„°//
footer{border: 10px double skyblue;
    background-color: white; height: 400px;}

.footerflex{display: flex; text-align: center; justify-content: center; margin-top: 2%;}

.footerimgbox{margin: 0 2%;}
.footerdiv{ height: 370px;}
.footerul{display: flex; justify-content: center; margin-top: 2%;}
.footerul li{padding: 1.5%;}
.snsbox{ float: right; }




