// ν—¤λ” //
header{margin: 0 auto; height: 300px;}

header>div:nth-child(1){height: 60px; display: flex; justify-content: center;}
header>div:nth-child(1)>div{width: 50%;}
header>div:nth-child(1)>div:nth-child(1){background-color: #ffddf8; text-align: right;}
header>div:nth-child(1)>div:nth-child(2){background-color: #5868d7; }
header ul{display: flex; justify-content: flex-end;} 
.bar{display: flex; justify-content: center;}
.bar>div{margin: 100px 20px;}

.search{height: 35px;
        width: 500px;
        border: 3px solid skyblue;
        border-radius: 50px;
        overflow: hidden;
}
input{
    font-size: 16px;
    width: 430px;
    padding: 10px;
    border: 0;
    outline: none;
}

.searchbtn{
    width: 50px;
    height: 100%;
    border: 0;
    background-color: skyblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    float: right;
}

//ν‘Έν„°//
footer{border: 10px double skyblue;
    background-color: white; height: 200px;}
.snsbox{margin-left: 0;}
footer div{background-color: skyblue; height: 200px;}
.snsbox{margin-right: 0;}


