@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
footer h6,h4{font-family: 'Noto Sans KR', sans-serif;}         
@import"reset","common";

#warp{margin: 0 auto;}


// //section 1 list 마우스호버 //
// #slider{height: 400px;margin: 0 auto;}
// .sliderlist{display: flex; width: 1100px; margin: 0 auto;}
// .sliderlist li{box-sizing: content-box; border: 10px double rgb(142, 197, 142); width: 100%;  text-align: center; margin:0 2px;
// }
// .sliderlist li:hover{cursor: pointer;}
// .sliderlist p{background-color:rgb(142, 197, 142); font-weight: bold;}
// .sliderflugin{height: 500px;}

       
//             .sliderbox p::before {
//               content: "";
//               position: absolute;
//               top: 0;
//               left: 0;
//               display: block;
//                width: 100%;
//               height: 100%;
//               z-index: 1;
//               background-color: #000;
//               -webkit-transform: scaleY(.3);
//               transform: scaleY(.3);
//               opacity: 0;
//               transition: all .3s
//               }
              
//             .sliderbox p{
                
//             color: white;
//             font-family: sans-serif;
//             // text-transform: uppercase;
//             // text-align: center;
//             position: relative;
//             // text-decoration: none;
//             // display:inline-block;
//              // border: 1px solid lightgray;
//             a{position: relative; z-index: 2;color: white; }
                  
//             }
//             .sliderbox p:hover {color: #fff;}
//             .sliderbox p:hover::before {
//                           opacity: 1;
//                           background-color: #DB5165;
//                           -webkit-transform: scaleY(1); 
//                           transform: scaleY(1);
//                           transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s; z-index: 1;
//                           transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
//                       }

//section 1 대형 슬라이더//
.bigswiper {
    position: relative;
    height: 100%;
    background-color: #efefef;
  }

.mySwiper{ margin: 0 auto;}
.swiper { 
    width: 1100px;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

//section 2 마우스 클릭 슬라이더 //
.sectiontwo{margin: 0 auto; width:1000px; height: 300px; margin-top: 6%;

.content h6,h4,p{margin: 3% 0;}
h3{margin: 30px;}
           

 .mouseslider {width: 1000px;  position: relative; overflow: hidden;
  &>span{position: absolute; top:50%; display: block; font-size: 35px; color:#fff; line-height: 40px; 
    background: rgba(0,0,0,0.6); cursor: pointer; height: 50px; transform: translateY(-50%); }        
  &>span:hover{background: rgba(255,255,255,0.8); color:#000;}
}

.sld {width: 3000px; }
.sld li {width: 1000px;  float: left;}         
.sldimg{display: flex; align-items: center; justify-content: space-evenly; background-color:#eee; height: 320px;
border-radius: 20px;}
.content{ background-color: white; 
width: 50%; border-radius: 30px; padding: 1%}



.prev {left:0; border-radius: 0 10px 10px 0px; padding: 0 8px 0 2px;}
.next {right:0; border-radius: 10px 0px 0px 10px; padding: 0 2px 0 8px;}
}
      
//section 3 MD 추천도서 //

#booklist{width:1100px; margin: 0 auto; margin-top: 10%;}
#booklist ul { height:30%; background-color:white; display: flex;
}
#booklist li {width: 25%; height:25px; text-align: center; cursor:pointer; padding-top:7px; border-top: 1px solid #787878;}
#booklist li:first-of-type{border-left: 1px solid #787878;}
#booklist li:last-of-type{border-right: 1px solid#787878;}

.tab{position: relative;}
.tab .imgbtn{position: relative; width: 85%; margin: 0 auto;}
.imgbtn{position: relative; width: 15%;
}
.imgbtn:hover .btns{opacity: 1;}
.imgbtn img{width: 100%;}
.btns{position: absolute; bottom: 0; left: 0; width: 100%; height: 30px; background-color: #DB5165; display: flex; justify-content: space-evenly; opacity: 0;
  transition: opacity 0.5s;
 button{width: 40%; height: 100%;
background-color: white; color: #666; font-weight: bold;}
 button:hover{opacity: 0.5;}}

// section 3 MD추천도서 클릭시 나오는부분 //

#booklist li.active{background-color: rgb(142, 197, 142); color:black; border-left: 1px solid rgb(142, 197, 142) ;border-right: 1px solid
  rgb(142, 197, 142);}

.tab_list:not(:first-of-type) {display:none;}
.tab_list {width:1100px; height:770px; background-color: rgb(142, 197, 142); }
.box {width:200px; height:335px; float:left; text-align:center; margin:20px; padding:5px 15px; border-radius:4px;  box-shadow:4px 4px 4px rgb(59, 85, 59);}   
.box p {font-size:10px; color:#666; text-align:left;}
     
// section 4 주간베스트 //

.sectionfour{margin: 0 auto; width:1000px; height: 350px; margin-top: 5%;
span{position: absolute; top:50%; display:none; font-size: 35px; color:#fff;  line-height: 40px; 
background: rgba(0,0,0,0.6); cursor: pointer; height: 50px; transform: translateY(-50%); }        
span:hover{background: rgba(255,255,255,0.8); color:#000;}
.mouseslider{border-radius: 20px;}
h3{margin: 30px;}
.titlelogoflex{display: flex; justify-content: space-between;}
.lotatelogo:hover img{transition: all .5s linear; transform: rotate(180deg);
}

.mouseslider {width: 1000px;  position: relative; overflow: hidden;}

.sld {width: 200%;  }
.sld li {width: 10%;  float: left;
}
         
.sldimg{display: flex; align-items: center; justify-content: space-evenly; background-color:#eee; height: 290px; }

.imgbtn{position: relative; width: 15%;}
.imgbtn:hover .btns{opacity: 1;}
.imgbtn img{width: 100%;}
.btns{position: absolute; bottom: 0; left: 0; width: 100%; height: 30px; background-color: #DB5165; display: flex; justify-content: space-evenly; opacity: 0; transition: opacity 0.5s;}
.prev {left:0; border-radius: 0 10px 10px 0px; padding: 0 8px 0 2px; }
.next {right:0; border-radius: 10px 0px 0px 10px; padding: 0 2px 0 8px;}}
    
// section 5 
.sectionfive{margin: 0 auto; width: 1000px;
  margin-top: 5%; 
.sldimg{height: 290px; background-color:#eee; border-radius: 20px;}
h3{margin: 20px;}
.titlelogoflex{display: flex; justify-content: space-between; }
.lotatelogo:hover img{transition: all .5s linear; transform: rotate(180deg);}
.sldimg{display: flex; align-items: center; justify-content: space-evenly; height: 290px;
  border-radius: 20px;}
.sldimg img{width: 100%;}
.content{ background-color: white;
  width: 50%; border-radius: 30px; padding: 1%;}
.content h6,h4,p{margin: 3% 0;}
.bookflex{display: flex; margin: 3% auto; width: 1000px;
justify-content: space-evenly;}
.bookflex .sldimg2{width: 300px; background-color:rgb(142, 197, 142);  height: 160px; padding: 1%}
.bookflex img{width: 20%; height: 80%; }
}


        
               
   













